.topSideIcon{
    position: relative;
    cursor: pointer;
}
.topSideBar{
    position: absolute;
    transition: 0.3s ease-in-out;   
    top: 70px;
    left: -370px;
    bottom: 0;
    right: -1;
    z-index: -1;
    background: white;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:
    inset 0 0em 0em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 8px;

}
.topSideBar.active{
    top: 70px;
    left: 10px;
}
.sideDropBar{
    position: relative;

}
.sideDropBarElem{
    position: relative;
    border: 1px solid red;
}
