.show-more-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Add transition for max-height property */
    max-height: 100px; /* Set a default max-height */
  }
  
  .collapsed .content {
    display: none;
  }
  
  .expanded .toggle-button::before {
    content: "↑";
  }
  
  .collapsed .toggle-button::before {
    content: "↓";
  }
  
  /* Adjust max-height for expanded content */
  .expanded .show-more-container {
    max-height: 1000px; /* Adjust to a value that accommodates your content */
  }
  
  .logDetail{
    position: relative;
    z-index: 1 !important;
    text-align: center;
  }
 
    .logfooterP{
      font-size: 10px;
    }
    
    .loginForm {
      z-index: 999;
      max-width: 515px; 
      width: 100%;
      flex-direction: column; 
    }
    
    .LogAsideBox {
      color: white;
      width: 10px;
      left: 10px; 
      top: 188px; 
      display: flex;
      flex-direction: column;
      position: relative !important; 
      padding: 8px 22px;
      background: rgba(225, 225, 225, 0.3);
      z-index: 1;
      text-align: center;
      align-items: center;
      justify-content: right; /* This property is not applicable */
     /* Set width to auto */
      border-radius: 8px;
      
    }
   
    .SsoAsideBox {
      color: white;
      width: 10px;
      left: 10px; 
      top: 93px; 
      position: relative !important; 
      padding: 8px 22px;
      display: flex;
      flex-direction: column;

      background: rgba(225, 225, 225, 0.3);
      z-index: 1;
      text-align: center;
      align-items: center;
      justify-content: center; /* This property is not applicable */
     /* Set width to auto */
      border-radius: 8px;
      
    }
    .logForgot{
      font-size: 13px;
      color: blue
    }
    /* .ssoAside{
      font-size: 12px;
    position: relative;
    z-index: 1 !important;
    right: 1px;
    bottom: -67px;
    color: white;
    background: rgba(225,225,225,.3);
   

    } */
    .fadeBorder{
      border-bottom: 1px solid rgba(225,225,225,.5);
    }
    .sso{
      color: rgb(37 99 235);
      cursor: pointer;
      font-size: 13px
    }
    .logTerms{
      font-size: 12px;
      position: relative;
      z-index: 1;
      width: 515px
    }
    .ibm {
      font-family: Arial, sans-serif;
      color: #FFFFFF;
      letter-spacing: -1px;
      font-size: 18px;
      text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.1);
    }
    .samsung, .booking, .padres{
      font-weight: bold;
      font-size: 12px;
      /* margin-left: 30px; */

    }
    .label{
      font-size: 15px;
    }
    .loading-container {
      position: relative;
      width: 150px;
      height: 150px;
      display: inline-block;
    }
    
    .loading-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid transparent;
      border-top-color: #3498db; /* Set your desired border color */
      border-radius: 50%;
      animation: spin .8s linear infinite, changeColor 4s linear infinite;;
    }
    
    .loading-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: imageResize 1s linear infinite;
    }
    .circle-font{
      font-size: 19px;
    }
    .flag-icon{
      margin: 0 68px;
      /* display: none */
    }
    .calender-icon{
      margin: 0 85px;
    }
    .user-icon{
      margin: 0 70px;
    }
    .taskBeside{
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.15);
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes changeColor{
      0%, 100% {
        border-top-color: #3498db; /* Color 1 */
        border-right-color: #3498db; /* Color 1 */
      }
      50% {
        border-top-color: #e74c3c; /* Color 2 */
        border-right-color: #e74c3c; /* Color 2 */
      }
    }
    @keyframes imageResize {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.8);
      }
}
  .DownTask{
    position: fixed;
    bottom: 37px;
    right: 30px
  }
  .DownLeftTask{
    position: fixed;
    bottom: 37px;
    left: 30px
  }
  .scrollbar-style::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  .scrollbar-style::-webkit-scrollbar-thumb {
    background-color: #adb2bc; /* Change the color */
    border-radius: 6px; /* Rounded corners */
  }
  
  .scrollbar-style::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Change the color */
  }
  
  /* Add these styles for Firefox */
  .scrollbar-style {
    scrollbar-color: #b6b9bf #f3f4f6;
  }
  .day-cell {
  width: 380px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  border: thin solid rgb(230, 227, 227);
  border-top: none;
  margin: 0;
  padding: 2px;
}

.days-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: .5rem .5rem;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.react-calendar__month-view__weekdays {
  display: none;
  border-top: 1px solid gray;
  /* visibility: hidden; */
  /* opacity: 0; */
}
.hover-content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px;
  white-space: nowrap;
}

.day-cell:hover .hover-content {
  display: block;
}
.current-day {
  border-color: blue; /* Change this to the desired border color */
}
   @media only screen  and (max-width: 650px){
     .SsoAsideBox, .LogAsideBox{
        display: none;
      } 
   }
  @media only screen  and (max-width: 540px){
    .loginForm{
    
      width: 330px;
      }

  }
    
    @media only screen  and (max-width: 480px){
      .loginForm{
    
        width: 360px;
        }
        .asideBox{display: none;}
        .recaptcha{
          padding : 0px 80px;
        }
        .logTerms{
          width: 360px;
         
        }
        .label{
          font-size: 13px;
        }
        .signfoot{
          font-size: 12px
        }
        .SsoAsideBox, .LogAsideBox{
          display: none;
        }
        .flag-icon{
          margin-left:50px
          /* display: none */
        }
        .calender-icon{
          margin-left: 70px;
        }
        .user-icon{
          margin-left: 320px;
        }
    }
    @media only screen  and (max-width: 400px){
      .loginForm{
    
        width: 360px;
        }}
  
  
  
  