.show-more-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Add transition for max-height property */
    max-height: 100px; /* Set a default max-height */
  }
  
  .collapsed .content {
    display: none;
  }
  
  .expanded .toggle-button::before {
    content: "↑";
  }
  
  .collapsed .toggle-button::before {
    content: "↓";
  }
  
  /* Adjust max-height for expanded content */
  .expanded .show-more-container {
    max-height: 1000px; /* Adjust to a value that accommodates your content */
  }
  
  .logDetail{
    position: relative;
    z-index: 1 !important;
    text-align: center;
  }
 
    .logfooterP{
      font-size: 10px;
    }
    
    .loginForm {
      z-index: 999;
      max-width: 515px; 
      width: 100%;
      flex-direction: column; 
    }
    
    .LogAsideBox {
      color: white;
      width: 10px;
      left: 10px; 
      top: 188px; 
      display: flex;
      flex-direction: column;
      position: relative !important; 
      padding: 8px 22px;
      background: rgba(225, 225, 225, 0.3);
      z-index: 1;
      text-align: center;
      align-items: center;
      justify-content: right; /* This property is not applicable */
     /* Set width to auto */
      border-radius: 8px;
      
    }
   
    .SsoAsideBox {
      color: white;
      width: 10px;
      left: 10px; 
      top: 93px; 
      position: relative !important; 
      padding: 8px 22px;
      display: flex;
      flex-direction: column;

      background: rgba(225, 225, 225, 0.3);
      z-index: 1;
      text-align: center;
      align-items: center;
      justify-content: center; /* This property is not applicable */
     /* Set width to auto */
      border-radius: 8px;
      
    }
    .logForgot{
      font-size: 13px;
      color: blue
    }
    /* .ssoAside{
      font-size: 12px;
    position: relative;
    z-index: 1 !important;
    right: 1px;
    bottom: -67px;
    color: white;
    background: rgba(225,225,225,.3);
   

    } */
    .fadeBorder{
      border-bottom: 1px solid rgba(225,225,225,.5);
    }
    .sso{
      color: rgb(37 99 235);
      cursor: pointer;
      font-size: 13px
    }
    .logTerms{
      font-size: 12px;
      position: relative;
      z-index: 1;
      width: 515px
    }
    .ibm {
      font-family: Arial, sans-serif;
      color: #FFFFFF;
      letter-spacing: -1px;
      font-size: 18px;
      text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.1);
    }
    .samsung, .booking, .padres{
      font-weight: bold;
      font-size: 12px;
      /* margin-left: 30px; */

    }
    .label{
      font-size: 15px;
    }
    .loading-container {
      position: relative;
      width: 150px;
      height: 150px;
      display: inline-block;
    }
    
    .loading-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid transparent;
      border-top-color: #3498db; /* Set your desired border color */
      border-radius: 50%;
      animation: spin .8s linear infinite, changeColor 4s linear infinite;;
    }
    .DocText{
      font-size: 60px;
      margin: 30px 330px
    }
    .DocVid{
      margin: 0px 250px
    }
    .loading-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: imageResize 1s linear infinite;
    }
    .landingSvg{
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;   
      height: 90%;  
      z-index: -1;
       
    }

    .circle-font{
      font-size: 19px;
    }
    .flag-icon{
      margin: 0 68px;
      /* display: none */
    }
    .calender-icon{
      margin: 0 85px;
    }
    .user-icon{
      margin: 0 70px;
    }
    .taskBeside{
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.15);
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes changeColor{
      0%, 100% {
        border-top-color: #3498db; /* Color 1 */
        border-right-color: #3498db; /* Color 1 */
      }
      50% {
        border-top-color: #e74c3c; /* Color 2 */
        border-right-color: #e74c3c; /* Color 2 */
      }
    }
    @keyframes imageResize {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.8);
      }
}
  .DownTask{
    position: fixed;
    bottom: 37px;
    right: 30px
  }
  .DownLeftTask{
    position: fixed;
    bottom: 37px;
    left: 30px
  }
  .scrollbar-style::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  .scrollbar-style::-webkit-scrollbar-thumb {
    background-color: #adb2bc; /* Change the color */
    border-radius: 6px; /* Rounded corners */
  }
  
  .scrollbar-style::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Change the color */
  }
  
  /* Add these styles for Firefox */
  .scrollbar-style {
    scrollbar-color: #b6b9bf #f3f4f6;
  }
  .day-cell {
  width: 380px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  border: thin solid rgb(230, 227, 227);
  border-top: none;
  margin: 0;
  padding: 2px;
}

.days-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: .5rem .5rem;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.react-calendar__month-view__weekdays {
  display: none;
  border-top: 1px solid gray;
  /* visibility: hidden; */
  /* opacity: 0; */
}
.hover-content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px;
  white-space: nowrap;
}
.theDocsTexts{
  border-bottom: 4px solid ;
  padding-bottom: 8px;
  cursor: pointer;
}

.day-cell:hover .hover-content {
  display: block;
}
.current-day {
  border-color: blue; /* Change this to the desired border color */
}
.big-round{
  border-radius: 60px;
}
.SideCommentIcon{
  position:fixed;
  right:18px;
  bottom:14px
}
.Gstated{
    border-radius: 0px 0px 60px 60px
}
.platMobileClicks{
  display: none;
}
.platDesktopClicks{
  display: grid;
}
.LandingMarg{
  margin: 110px 100px 0px;
}
.FloatIcons{
  position: relative
}
.DocU{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:50px;
  position: absolute;
  top:40px;
  left: 80px;
  padding: 0px 20px;
  border-radius: 10px;
 transform: rotate(40deg);
}
.u{ 
  transform: rotate(-40deg)
}
.DocPen{
  font-size:20px;
  position: absolute;
  top:120px;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 170px;
  width: 50px;
  height: 50px;
  border-radius: 100px
}
.DocFile{
  font-size:20px;
  position: absolute;
  top:145px;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100px
}
.DocLink{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:30px;
  position: absolute;
  top:210px;
  left: 100px;
  padding: 15px 15px;
  border-radius: 10px;
 
 transform: rotate(40deg);
}
.falink{
  transform: rotate(0deg);
}

.DocComment{
  font-size:20px;
  position: absolute;
  top:40px;
  padding: 20px 20px;
  border-radius: 10px;
  right: 110px;
  border-radius: 10px;
  transform: rotate(40deg);
}
.DocThumb{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
  position: absolute;
  top:50px;
  right: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius: 100px;
 
}
.DocWifi{
  font-size:20px;
  position: absolute;
  top:140px;
  padding: 20px 20px;
  border-radius: 10px;
  right: 55px;
  border-radius: 10px;
  transform: rotate(40deg);
}

.DocNote{
 
  font-size:20px;
  position: absolute;
  top:220px;
  right: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius: 100px;
 
}
.Footer{
  background:url("footer.svg");
  position:relative;
  padding-top: 170px;
  margin-top: 200px;
  z-index: -1
}
.FooterTop{
  position: absolute;
  top: -180px;
  background-color: white;
  border-radius: 8px;
  width: 82%;
  padding: 40px;
  margin-left:6% ;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  

}
.FooterValue{
  display: flex;
  place-items: center;
}
.FooterTopText{
  width: 64%;
  margin-left: 100px;
}
.FooterTopLogo{
  position:absolute;
  top: -28px;
  left:-30px;
  right: 0;
  bottom: 0;
  /* z-index: -2; */
}
.FootTopText{
    font-size: 60px;
  }
.FooterTopButton{
  margin-left: 150px;
  background-color: #7B68EE;
  font-weight: bold;
  box-shadow: 0rem 0rem 1rem #7B68EE;
}
.sideCommentBg{
  background-color: #7B68EE;
}
.Footer li{
  color:white
}
.FooterGrid{
  display :grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 40px;
}
.FooterButton{
  background:rgba(225,225,225,.2  );
  font-weight: 400;
  border-radius: 7px;

}

.FootDownload{
  font-size: 10px;
}
.FootApp{
  font-size: 18px
}
.FootGplay{
  font-size: 15px;
}
.FooterClickSvg{
  display: flex
}
.FooterIcon{
  margin-left: auto;
  margin-top: 5px;
}
.FIconSize{
  font-size: 28px
}
.footerPad{
  padding: 0px 95px;
}
.FooterFreeCover{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      margin-bottom: 20px;
}
.FooterFree{
  font-size: 17px;
  font-weight: bold;
}
@media only screen  and (max-width: 1400px){
  .LandingMarg{
    margin: 110px 0px 0px;
  }
  .DocText{
    font-size: 40px;
    margin: 30px 400px
  }
  .DocVid{
    margin: 0px 150px
  }
  .footerPad{
    padding: 0px 20px;
  }
}
@media only screen  and (max-width: 1200px){
   
  .FooterFreeCover{
    display: flex;
    justify-content: center;
    }
    .FooterFree{
      padding: 0px 30px;
    }
  .DocText{
    font-size: 38px;
    margin: 30px 300px
  }
   .FooterGrid{
    grid-template-columns: repeat(3, auto);
   grid-gap: 50px
  }
  .Footer{
  padding-top:200px;
  margin-top: 140px;
  }
  .FooterTop{
    position: absolute;
    top: -90px;
    left:0px;
    background-color: white;
    border-radius: 8px;
    width: 94%;
    padding: 40px;
    margin-left:3% ; 
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.15);
  }
  .FooterValue{
    display: block;
  }
  .FooterTopText{
    width: 100%;
    margin-left: 0px;
  }
  .FootTopText{
    font-size: 40px;
  }
  .FooterTopLogo{
   /* top:0;
   left:0; */
    top: 44%;
    left:91%;
    /* z-index: -2; */
  }
  .FooterTopButton{
    margin-left: 0px;
    margin-top: 30px;
  
  }
}
@media only screen  and (max-width: 1000px){
  .DocText{
    font-size: 35px;
    margin: 30px 240px
  }
  .DocSideIcon{
    display: none;
  }
  .FooterTopLogo{
    /* top:0;
    left:0; */
     top: 44%;
     left:90%;
     /* z-index: -2; */
   }
 
}


@media only screen  and (max-width: 800px){

  .DocText{
    font-size: 30px;
    margin: 30px 50px
  }
  .DocVid{
    margin: 0px 15px
  }
  .FooterTopLogo{
    /* top:0;
    left:0; */
     top: 44%;
     left:88%;
     /* z-index: -2; */
   }
   .FooterFree{
   
    margin-bottom: 30px;
    
  }
  .FooterTop{
    top: -75px
  }
 
}
@media only screen  and (max-width: 768px){
  .LandingMarg{
    margin: 110px 15px 0px;
  }
  .Gstated{
    border-radius: 0px 0px 20px 20px
}
.DocsRound{
  border-radius: 20px 20px 0px 0px
}
.TaskRound{
  border-radius: 20px 20px 20px 20px
}
.big-round{
  border-radius: 20px;
}
.order1{
  
  order: 2;

}
.order2{
 
  order: 1;
}
.FooterTopLogo{
  /* top:0;
  left:0; */
   top: 47%;
   left:86%;
   /* z-index: -2; */
 }
}
   @media only screen  and (max-width: 650px){
     .SsoAsideBox, .LogAsideBox{
        display: none;
      } 
      .FooterTopLogo{
        /* top:0;
        left:0; */
         top: 54%;
         left:84%;
         /* z-index: -2; */
       }
       .FooterTop{
     
        top: -140px;
        left:0px;
       
      }
      .FooterFreeCover{
        justify-content: left;
      }
      
   }
   @media only screen  and (max-width: 600px){
  .FooterGrid{
    grid-template-columns: repeat(2, auto);
   grid-gap: 40px
  }
  
  .FooterClickSvg{
    display: block;
    text-align: center;
    justify-content: center;
  }
  .FooterSvg{
    margin: 20px auto;
   
  }
  .FooterIcon{
    margin-top: 15px;
  }
   .FooterTop{
        top: -110px;
        left:0px;
      }
      .FooterFree{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  
}
.FooterFreeCover{
  margin-top: 60px
}
}

  @media only screen  and (max-width: 540px){
    .loginForm{
    
      width: 330px;
      }
       .FootTopText{
        font-size: 33px;
      }
      .FooterTopLogo{
        /* top:0;
        left:0; */
         top: 54%;
         left:80%;
         /* z-index: -2; */
       }
       .FooterTopText{
        width: 85%;
       
      }
      .landingSvg{
        display:none
      }
      .order1{
  
        order: 1;
      
      }
      .order2{
       
        order: 2;
      }
      .platMobileClicks{
        display: flex
      }
      .platDesktopClicks{
        display: none;
      }
      .FooterTop{
     
        top: -80px;
        left:0px;
       
      }
     
  }
    
    @media only screen  and (max-width: 480px){
      .loginForm{
    
        width: 360px;
        }
        .asideBox{display: none;}
        .recaptcha{
          padding : 0px 80px;
        }
        .logTerms{
          width: 360px;
         
        }
        .label{
          font-size: 13px;
        }
        .signfoot{
          font-size: 12px
        }
        .SsoAsideBox, .LogAsideBox{
          display: none;
        }
        .flag-icon{
          margin-left:50px
          /* display: none */
        }
        .calender-icon{
          margin-left: 70px;
        }
        .user-icon{
          margin-left: 320px;
        }
         /* .DownTask{
         
          right: 50px
       } */
       .navMobile{
          display: none;
       }
    }
    @media only screen  and (max-width: 400px){
      .loginForm{
    
        width: 360px;
        }}
  
  
  
  