.show-more-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Add transition for max-height property */
    max-height: 100px; /* Set a default max-height */
  }
  
  .collapsed .content {
    display: none;
  }
  
  .expanded .toggle-button::before {
    content: "↑";
  }
  
  .collapsed .toggle-button::before {
    content: "↓";
  }
  
  /* Adjust max-height for expanded content */
  .expanded .show-more-container {
    max-height: 1000px; /* Adjust to a value that accommodates your content */
  }
  /* .loginPage{
        height: 100%;
        overflow-y: hidden;

  }
   */
  .logDetail{
    position: relative;
    z-index: 1 !important;
    text-align: center;
  }
  .loginForm{
    z-index: 999;
    width: 515px;
    }
    .logfooterP{
      font-size: 10px;
    }
    .asideBox{
      color: white;
      right: 420px;
      bottom:187px;
      position:fixed !important;
      padding: 5px;
      background: rgba(225,225,225,.3);
      z-index: 1;
      text-align: center;
      align-items: center;
      justify-content: right;
      width: 65px;
      border-radius: 8px;
    }
    .logForgot{
      font-size: 13px;
      color: blue
    }
    .fadeBorder{
      border-bottom: 1px solid rgba(225,225,225,.5);
    }
    .sso{
      color: rgb(37 99 235);
      cursor: pointer;
      font-size: 13px
    }
    .logTerms{
      font-size: 12px;
      position: relative;
      z-index: 1;
      width: 515px
    }
    .ibm {
      font-family: Arial, sans-serif;
      color: #FFFFFF;
      letter-spacing: -1px;
      font-size: 18px;
      text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.1);
    }
    .samsung, .booking, .padres{
      font-weight: bold;
      font-size: 12px;
      /* margin-left: 30px; */

    }
    .label{
      font-size: 15px;
    }
    
    @media only screen  and (max-width: 480px){
      .loginForm{
    
        width: 360px;
        }
        .asideBox{display: none;}
        .recaptcha{
          padding : 0px 80px;
        }
        .logTerms{
          width: 360px;
         
        }
        .label{
          font-size: 13px;
        }
        .signfoot{
          font-size: 10px
        }
    }
  
  
  
  